services:
  my-neovim:
    build:
      context: .
      args:
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    image: my-neovim
    working_dir: /workspace
    volumes:
      - ".:/workspace"
      # Named volumes for persistence
      - dev_config:/home/developer/.config
      - dev_share:/home/developer/.local/share
      - dev_state:/home/developer/.local/state
      - dev_cache:/home/developer/.cache
    tty: true
    command: ["/bin/bash", "-c", "/home/developer/entrypoint.sh && nvim"]
    stdin_open: true
    environment:
      - TERM=xterm-256color

volumes:
  dev_config:
  dev_share:
  dev_state:
  dev_cache:
